//tablet
@media (min-width: 768px) and (max-width: 1024px) {
	.visible-sm {
		display: block !important;
	}
	.hidden-sm {
    	display: none !important;
   	}

   	.content-container {
	  margin-left: 0;
	  min-height: 70vh;
	  .content-container-inner {
	    padding: 95px 30px 30px 30px;
	    min-height: calc(70vh - 95px);
	  }
	}
	.toolbar {
	  top: 0px;
	  left: 0px;
	  padding: 20px 24px;
	  width: 100%;
   	  box-sizing: border-box;
   	  .logo {
   	  	height: 45px;
	  }
	}

	.sidebar-container {
		position: static;
	  	min-height: 50vh;
	}

	.fio-block {
		font-size: $s-font;
	}

	.num-block {
		margin-bottom: 16px;
		.sheet-link {
		    padding: 16px 0;
		    font-size: $s-font;
		}
	}

	//table
	.table-responsive {
	  max-width: 90vw;
	  table {
	      thead th {
	        padding: 12px 8px;
	      }
	      th, td {
	        padding: 12px 8px;
	      }
	  }
	}

	.about-cover {
	  nav {
	    margin: 8px 12px;
	  }
	}
	.about-cover-inner {
	  width: 80%;
	  font-size: $m-font;
	  h3 {
	    font-size: $l-font;
	  }
	}
	.about-container {
		margin-top: 0;
		padding: 45px;
		position: static;
	  
		.printscreen {
			margin-bottom: 30px;
		}

		.block {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

		&:before, &:after {
			display: none;
		}
	}

	footer {
	  .inner {
	    padding: 16px 30px;
	  }
	}
}

/* Landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  	
}