@import "base";
@import "flexboxgrid";

//mixin
@mixin border-radius($radius: 1px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

.visible-xs, .visible-sm {
  display: none !important;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
.blur {
  filter: blur(2px);
}

body {
	font-family: 'Montserrat', serif;
	text-align: left;
	margin: 0;
  font-size: $m-font;
  line-height: 1.4;
	color: $base-color;
  position: relative;
  background: #f7f5ec;
  -webkit-overflow-scrolling: touch;
  word-break: break-word;
  &.lang-ch {
    font-family: 'Noto Sans TC', sans-serif;
  }
}

.center-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content-container {
  margin-left: 42vw;
  min-height: 100vh;
  padding: 0 70px;
  .content-container-inner {
    padding-top: 90px;
    min-height: calc(100vh - 90px);
  }
}

.toolbar {
  position: fixed;
  padding: 12px 0;
  width: 48%;
  background: #f7f5ec;
  .logo {
    width: auto;
    height: 60px;
  }
}


.sidebar-container {
  position: fixed;
  min-height: 100vh;
  padding: 70px;
  background: transparent url(../image/bg.jpeg) scroll no-repeat 50% 50%;
  color: #FFF;
  font-weight: bold;

  .info-block {
    border: 2px solid #FFF;
    padding: 24px 16px;
    text-align: left;
    margin: 0 auto 90px auto;
    font-size: $l-font;
    line-height: 1.8;
    a {
      margin-left: 8px;
      color: #ffec4a;
      &:hover {
        color: #ffec4a;
      }
    }
  }
  
  a {
    display: inline-block;
    color: #FFF;
    &:hover {
      text-decoration: underline;
      color: #FFF;
    }
  }
}

.link-text {
  color: $base-color;
  cursor: pointer;
  &:hover {
      text-decoration: underline;
  }
}
.fio-block {
  margin: 0 auto;
  text-align: center;
}
.fio-logo {
  display: block;
  img {
    width: 130px;
    height: auto;
  }
}

.num-block {
  .title {
    text-align: left;
    margin-bottom: 8px;
    font-size: $s-font;
  }
  .help-text {
    text-align: left;
    margin-top: 4px;
    color: #82a0af;
    font-size: $xs-font;
  }
  .num {
    border: 1px solid $base-color;
    background: #FFF;
    text-align: center;
    padding: 8px 0;
    font-size: $xxl-font;
    font-weight: bold;
    color: #68808c;
    cursor: pointer;
    //status-bg
    &.status-bg-success {
      background: rgba($success-color, .2);
    }
    &.status-bg-warning {
      background: rgba($warning-color, .2);
    }
    &.status-bg-danger {
      background: rgba($danger-color, .2);
    }

    &:hover {
      text-decoration: underline;
    }
  }
  .percent {
    color: #82a0af;
  }
  a {
    color: $base-color;
    &:hover {
      color: $base-color;
    }
  }
}

.contact-container {
  margin-top: 24px;
}
.link-group-block {
  margin-top: 8px;
  li {
    display: inline-block;
    margin-left: 16px;
    &:first-child {
      margin-left: 0;
    }
  }
  a {
    color: #FFF;
    font-size: $l-font;
    &:hover {
      color: rgba(#FFF, .8);
    }
  }
}

.form-group {
  margin: 30px 0;
  .form-control {
    @include border-radius(5px);
    padding: 8px 12px;
    line-height: 30px;
    border: 1px solid $base-color;
    background: #FFF;
    color: $base-color;
    width: 93%;
  }
  &.is-invalid {
    margin-bottom: 20px;
    .form-control {
      border-color: $danger-color;
    }
    .invalid-feedback {
      display: block;
    }
  }
  .invalid-feedback {
    color: $danger-color;
    display: none;
    font-size: $s-font;
  }
}

.auth-form, .register-form {
  width: 80%;
  .help-text {
    font-size: $xs-font;
    color: $base-color;
    margin-top: 4px;
  }
  .text-link {
    font-size: $s-font;
    color: $base-color;
    &:hover {
      color: $base-color;
      text-decoration: underline;
    }
  }
  .submit-area {
    margin: 16px auto;
    text-align: center;
  }
}

//button
.btn {
  @include border-radius(4px);
  padding: 12px 16px;
  color: #FFF;
  box-shadow: none;
  margin-bottom: 4px;
  background: $base-color;
  border: 1px solid $base-color;
  &:hover {
    cursor: pointer;
    background: rgba($base-color, .8);
  }
}

.btn-primary {
  @extend .btn;
  background: $primary-color;
  border: 1px solid $primary-color;
  &:hover {
    background: rgba($primary-color, .8);
  }
}
.btn-success {
  @extend .btn;
  background: $success-color;
  border: 1px solid $success-color;
  &:hover {
    background: rgba($success-color, .8);
  }
}
.btn-danger {
  @extend .btn;
  background: $danger-color;
  border: 1px solid $danger-color;
  &:hover {
    background: rgba($danger-color, .8);
  }
}
.btn-warning {
  @extend .btn;
  background: $warning-color;
  border: 1px solid $warning-color;
  &:hover {
    background: rgba($warning-color, .8);
  }
}

//alert
.alert {
  @include border-radius(8px);
  padding: 12px 16px;
  background: $primary-color;
  color: #FFF;
  margin-bottom: 12px;

  &.success {
    background: $success-color;
  }
  &.danger {
    background: $danger-color;
  }
  &.warning {
    background: $warning-color;
  }

  // .closebtn {
  //   margin-left: 15px;
  //   color: #FFF;
  //   font-weight: bold;
  //   float: right;
  //   font-size: 22px;
  //   line-height: 20px;
  //   cursor: pointer;
  //   transition: 0.3s;
  //   &:hover {
  //     color: black;
  //   }
  // }
}

//table
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 700px; //todo
  table {
      width: 100%;
      display: table;
      white-space: nowrap;
      background: transparent;
      margin: 0;
      color: $base-color;
      border: none;
      border-collapse: collapse;
      font-size: $s-font;
      line-height: 40px;
      thead th {
        border-bottom: solid 1px #cfcfd0;
        padding: 20px 16px;
        color: $base-color;
        font-weight: bold;
      }
      tr {
        display: table-row;
      }
      th, td {
        border: none;
        border-bottom: solid 1px #cfcfd0;
        padding: 20px 16px;
      }
  }
}


.block-title {
  font-size: $xl-font;
  font-weight: bold;
  margin: 8px 0;
}
.block-info {
  font-size: $m-font;
}

@import "mobile";
@import "tablet";