# Mac OS X Desktop Services Store
**/.DS_Store

# Build Folders
/[Dd]ist/
!/[Dd]ist/.gitkeep

# Composer Lock File
composer.lock

# Npm Lock File
**/package-lock.json

# Yarn Lock File
**/yarn.lock

# Node JS Folder
/node_modules/

# Visual Studio Code Workspace Settings
.vscode