<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
<title>FiO Helath</title>
<meta name="description" content=""/>
<meta property="og:title" content="FiO Helath"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content=""/>
<meta property="og:image" content=""/>
<meta property="og:description" content=""/>
<meta property="fb:app_id" content=""/>	<link href="image/favicon.ico" sizes="any" type="image/svg+xml" rel="icon"> 
<link href="image/favicon.png" rel="shortcut icon">
 
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">	
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-cookies@1.7.0/vue-cookies.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script><link href="styles.css?v=1585132793" rel="stylesheet"><script type="text/javascript" src="js/bundle.js"></script></head>
<body class="lang-en"><div id="vue" class="row page-container">
	<div class="col-md-5 center-flexbox sidebar-container"><div class="inner">
	<div class="info-block">
		<p>Call 911 if you have a medical emergency: If you have a medical emergency and need to call 911, notify the operator that you have or think you might have, COVID-19. If possible, put on a facemask before medical help arrives.<a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html" target="_blank">CDC website</a></p>
	</div>
	<div class="fio-block">
		<a href="https://www.fio.one/" class="fio"><img src="image/fio.svg"></a>
		<p>the Building Block of your Future</p>
		<p>Email: <a href="mailto:info@fio.one">info@fio.one</a></p>
		<p>Copyright © <span id="year"></span>. All rights reserved.</p>
		<div class="link-group-block">
			<ul>
				<li><a href="https://www.facebook.com/FiO.ONE.EN/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
				<li><a href="mailto:info@fio.one" target="_blank"><i class="fas fa-envelope"></i></a></li>
			</ul>
		</div>
	</div>
</div></div>	<div class="col-md-7 center-flexbox content-container"><div class="inner">
		<a class="link-text float-right" @click="logout()" v-if="page !== 'login'">Logout</a>
		<img class="logo" src="image/logo.svg">
		<div class="row center-xs" v-if="page === 'login'"><div class="col-md-12 auth-form">
    <div id="form-group-username" class="form-group">
      <input class="form-control" type="text" v-model="username" placeholder="Email" ref="username" require @keyup.enter="login"/>
      <div class="invalid-feedback text-right"></div>
    </div>
    <div class="clearfix">
        <a href="#" class="text-link text-right float-right">No account? Register here</a>
        <a href="#" class="text-link text-left float-left">Forgot Password</a>
    </div>
    <div class="submit-area">
        <button class="btn btn-primary submit-btn" type="button" @click="login()">Login</button>
    </div>
</div></div>		<div class="row center-xs" v-if="page === 'dashboard'">
	<div class="col-md-12 num-block">
		<p class="title">Number of People Participated Today</p>
		<div class="row between-xs">
			<div class="col-md-8">
				<p class="num" v-text="overview.total" @click="showLog()"></p>
				<span class="float-right status-dot" :class="getStatus()"><i class="fas fa-circle"></i></span>
			</div>
			<div class="col-md-3">
				<a href="#" target="_blank">
					<span class="status-dot wait"><i class="fas fa-circle"></i></span><br>
					Googlesheet link
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-12 num-block">
		<p class="title">Number of Healthy People</p>
		<div class="row between-xs">
			<div class="col-md-8">
				<p class="num" v-text="overview.health" @click="showLog()"></p>
			</div>
			<div class="col-md-3">
				<p class="num percent" v-text="toPercent(overview.health, overview.total)" @click="showLog()"></p>
				<p class="help-text">Based on Number of Participants</p>
			</div>
		</div>
	</div>
	<div class="col-md-12 num-block">
		<p class="title">People with Fever</p>
		<div class="row between-xs">
			<div class="col-md-8">
				<p class="num" v-text="overview.fever" @click="showLog()"></p>
			</div>
			<div class="col-md-3">
				<p class="num percent" v-text="toPercent(overview.fever, overview.total)" @click="showLog()"></p>
				<p class="help-text">Based on Number of Participants</p>
			</div>
		</div>
	</div>
	<div class="col-md-12 num-block">
		<p class="title">People with One or Two Symptoms</p>
		<div class="row between-xs">
			<div class="col-md-8">
				<p class="num" v-text="overview.warning" @click="showLog()"></p>
			</div>
			<div class="col-md-3">
				<p class="num percent" v-text="toPercent(overview.warning, overview.total)" @click="showLog()"></p>
				<p class="help-text">Based on Number of Participants</p>
			</div>
		</div>
	</div>
	<div class="col-md-12 num-block">
		<p class="title">People with More than Three Symptoms</p>
		<div class="row between-xs">
			<div class="col-md-8">
				<p class="num" v-text="overview.danger" @click="showLog()"></p>
			</div>
			<div class="col-md-3">
				<p class="num percent" v-text="toPercent(overview.danger, overview.total)" @click="showLog()"></p>
				<p class="help-text">Based on Number of Participants</p>
			</div>
		</div>
	</div>
</div>		<div class="row" v-if="page === 'log'"><div class="col-md-12">
	<button class="btn" @click="goPage('dashboard')">Back</button>
	<div class="table-responsive"><table>
		<thead><tr>
			<th>ID</th>
			<th>Email</th>
			<th>Name</th>
			<th>Date</th>
			<th>Num</th>
			<th>Action</th>
		</tr></thead>
		<tbody>
			<tr v-for="(row, index) in log">
				<td v-text="index"></td>
				<td v-text="row.email"></td>
				<td v-text="row.name"></td>
				<td v-text="row.date"></td>
				<td v-text="row.num"></td>
				<td>
					<button class="btn">Log</button>
					<button class="btn-primary">Export</button>
				</td>
			</tr>
		</tbody>
	</table></div>
</div></div>	</div></div>
	
	
</div></body>
</html>
