<div class="center-flexbox content-container-inner" v-if="page === 'login'">
    <div class="row center-xs auth-form"><div class="col-md-12 col-sm-8 col-xs-12 auth-form-inner">
        <p class="title">Welcome to HealthyMe</p>
        <div id="form-group-username" class="form-group">
          <input class="form-control" type="text" v-model="username" placeholder="Enter your registertd email to request an access link." ref="username" require @keyup.enter="login"/>
          <p class="help-text">( No Password Required )</p>
          <div class="invalid-feedback text-right"></div>
        </div>
        <div class="submit-area">
            <button class="btn-primary submit-btn" type="button" @click="login()">Request Access</button>
        </div>
        <div class="register-area">
            <p class="title">Not registered? Join us to fight COVID-19 together</p>
            <div class="row center-xs"><div class="clearfix col-md-8">
                <a class="btn-primary float-left" href="https://docs.google.com/forms/d/e/1FAIpQLSfiYPLRkHDFmqsXmgiEaOU1PIyRsbPwE15pQTfvQ9JEx8r5-Q/viewform" target="_blank">Business</a>
                <a class="btn-primary float-right" href="https://docs.google.com/forms/d/e/1FAIpQLScCctBpFzJRywUN5lh3d2sGe0mCkJwmuCdiLms7my_HgOqG1w/viewform" target="_blank">Personal</a>
            </div></div>
            <a class="about-link" href="about.html">About Healthyme</a>
        </div>
    </div></div>
</div>