<div class="col-md-5 center-flexbox sidebar-container"><div class="inner">
	<div class="info-block">
		<p>Call 911 if you have a medical emergency: If you have a medical emergency and need to call 911, notify the operator that you have or think you might have, COVID-19. If possible, put on a facemask before medical help arrives.<a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html" target="_blank">CDC website</a></p>
	</div>
	<div class="fio-block">
		<a href="https://www.fio.one/" class="fio-logo"><img src="image/fio.svg"></a>
		<p>the Building Block of your Future</p>
		<p>Email: <a href="mailto:info@fio.one">info@fio.one</a></p>
		<p>Copyright © <span id="year"></span>. All rights reserved.</p>
		<div class="link-group-block">
			<ul>
				<li><a href="https://www.facebook.com/FiO.ONE.EN/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
				<li><a href="mailto:info@fio.one" target="_blank"><i class="fas fa-envelope"></i></a></li>
			</ul>
		</div>
	</div>
</div></div>