<div class="center-flexbox content-container-inner" v-if="page === 'welcome'"><div class="welcome-container">
    <p>Welcome to HealthyMe</p>
    <button class="btn btn-primary" @click="goPage('login')">Login</button>
    <a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSfiYPLRkHDFmqsXmgiEaOU1PIyRsbPwE15pQTfvQ9JEx8r5-Q/viewform" target="_blank">Apply for Business Use</a>
    <a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLScCctBpFzJRywUN5lh3d2sGe0mCkJwmuCdiLms7my_HgOqG1w/viewform" target="_blank">Apply for Personal Use</a>
</div></div>