<!DOCTYPE html>
<html>
<head>
	{% include 'partial/header.twig' %}
	{% include 'partial/lib.twig' %}
</head>
<body class="lang-{{ htmlWebpackPlugin.options.data.lang }} about"><div class="row page-container">
	<div class="about-cover">
		<nav>
			<a href="#" class="fio-logo"><img src="image/fio.svg"></a>
		</nav>
		<div class="center-flexbox"><div class="about-cover-inner">
			<a href="#" class="logo"><img src="image/logo-white.png"></a>
			<h3>The Minimal Health Management and Alert System</h3>
			<p><i class="far fa-circle"></i> The simplest way to record your staffs and family’s health status</p>
			<p><i class="far fa-circle"></i> Easy and effortless for your staffs or families</p>
		</div></div>
	</div>
	<div class="about-container">
		<div class="row">
			<div class="col-md-6">
				<img class="printscreen" src="image/printscreen-1.png?v=2">
				<img class="printscreen" src="image/printscreen-2.png?v=2">
			</div>
			<div class="col-md-6">
				<div class="block">
					<p class="title">Integrated With Google Form</p>
					<p>everyone knows how to use it with</p>
					<p>seamless implementation</p>
				</div>
				<div class="block">
					<p class="title">Powered By Blockchain</p>
					<p>immutable data</p>
					<p>traceable data</p>
					<p>no verification needed</p>
				</div>
				<div class="block">
					<p class="title">Intuitive Dashboard</p>
					<p>straightforward data visualization</p>
					<p>everything in one place</p>
					<p>export reports you need in seconds</p>
				</div>
				<div class="block">
					<a class="btn" href="https://healthyme.fio.one/">Get Started</a>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer"><div class="inner clearfix">
		<div class="float-left">
			<p>The Building Blocks for your Future</p>
			<p>Email: <a href="mailto:info@fio.one">info@fio.one</a></p>
		</div>
		<div class="link-group-block float-right"><ul>
			<li><a href="https://www.facebook.com/FiO.ONE.EN/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
			<li><a href="mailto:info@fio.one" target="_blank"><i class="fas fa-envelope"></i></a></li>
		</ul></div>
	</div></footer>
</div></body>
</html>