<!DOCTYPE html>
<html>
<head>
	{% include 'partial/header.twig' %}
	{% include 'partial/lib.twig' %}
</head>
<body class="lang-{{ htmlWebpackPlugin.options.data.lang }}"><div id="vue" class="row page-container">
	{% include 'partial/sidebar.twig' %}
	<div class="col-md-7 col-sm-12 col-xs-12 content-container first-xs">
		<div class="toolbar clearfix">
			<a class="link-text float-right" @click="logout()" v-if="page == 'dashboard' || page == 'log'">Logout</a>
			<img class="logo" src="image/logo.png?=1">
		</div>
		{% include 'partial/login.twig' %}
		{% include 'partial/register.twig' %}
		{% include 'partial/dashboard.twig' %}
		{% include 'partial/log.twig' %}
	</div>
</div></body>
</html>
