<!DOCTYPE html>
<html>
<head>
	{% include 'partial/header.twig' %}
	{% include 'partial/lib.twig' %}
</head>
<body class="lang-{{ htmlWebpackPlugin.options.data.lang }}"><div class="row page-container">
	{% include 'partial/sidebar.twig' %}
	<div class="col-md-7 center-flexbox content-container"><div class="inner">
		<img class="logo" src="image/logo.svg">
		<div class="row center-xs"><div class="col-md-10 auth-form">
            <div class="form-group has-error">
              <input class="form-control" type="text" v-model="username" placeholder="Email" ref="username" require/>
              <div class="invalid-feedback text-right">Please enter your username.</div>
            </div>
            <div class="clearfix">
                <a href="#" class="text-link text-right float-right">No account? Register here</a>
                <a href="#" class="text-link text-left float-left">Forgot Password</a>
            </div>
            <div class="submit-area">
                <button class="btn btn-primary submit-btn" type="button">Login</button>
            </div>
		</div></div>
	</div></div>
</div></body>
</html>
